.header__logo span
{
    color: var(--logo-black);
  }
  .header__logo
  {
    padding: 24px 0;
  }
  
  .header__conteiner 
  {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    @media screen and (min-width: 480px)
    {
      max-width: 480px
    }
    @media screen and (min-width: 768px)
     {
      max-width: 768px
    }
    
     @media screen and (min-width: 1200px)
    {
      max-width: 1200px
    }
  }

  .header{ border-bottom: 1px solid #ececec;}
  
  .header__nav 
  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
 