.team-card {
    border-color: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
  
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  
 &__discription {
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
  
  &__conteiner {
    padding: 30px 10px 0px;
    
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  }